name: Deploy Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write 
  contents: read

jobs:
  docker-build-and-push:
    name: Build, Scan, and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v3
      # Checkout the code
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::190109422563:role/Testing-action-gh-role
          aws-region: us-east-1
      - name: Test AWS access
        run: aws sts get-caller-identity
      - name: test run
        run: aws s3 ls s3://prime-dev-content-imfsg/